h2, h3, h1, h4 {
    
    color: #272d35;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

article{
    text-decoration-color: #bf0c49;
    text-emphasis-color: 90%;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
    max-width: 800px; margin: auto;
    
}

h1{
    font-style: italic;
}

nav{
    color: aqua;
}

.nav-link {
    color: #272d35; 
    font-weight: bold; 
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4); 
    
}

.nav-link:hover {
    text-decoration: underline; 
}

table {
    border: 3px solid black;
    border-collapse: collapse;
    border-color: black !important;
}

body{
    text-align: center;
    background-color:burlywood;
}

input{
    max-width: 300px; margin: auto; border-color: black; 
}


